/* Estilos generales para la página */
.page-container {
    padding: 20px;
    background-color: #f0f2f5; /* Fondo claro para la página */
}

/* Estilos para las tablas de Ant Design */
.ant-table {
    background-color: #ffffff; /* Fondo blanco para las tablas */
    border-radius: 8px; /* Bordes redondeados para las tablas */
    overflow: hidden; /* Oculta el desbordamiento para mantener el borde redondeado */
}

/* Estilos para las filas y columnas */
.row, .col {
    padding: 8px; /* Espaciado interno para filas y columnas */
}

/* Estilos personalizados para íconos */
.icon {
    color: #1890ff; /* Color por defecto para los íconos */
    font-size: 24px; /* Tamaño de fuente para los íconos */
}

/* Diferenciando íconos por color basado en la matriz de colores */
.smile-icon {
    color: #f5222d;
}

.heart-icon {
    color: #faad14;
}

.thunderbolt-icon {
    color: #52c41a;
}

.star-icon {
    color: #13c2c2;
}

.android-icon {
    color: #722ed1;
}

/* Estilos para las imágenes */
.image {
    width: 100%;
    max-width: 200px; /* Máximo ancho para imágenes */
    height: auto; /* Altura automática para mantener la proporción */
    border-radius: 8px; /* Bordes redondeados para las imágenes */
}

.selected-row {
    background-color: #b3b3b3; /* Elige el color que prefieras */
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.customFormItem {
    margin-bottom: 8px;
}

.ant-form {
    width: 100%;
}
.icon-margin {
    margin-right: 8px; /* Ajusta este valor según tus necesidades */
}



/* FacebookStyledEmailTasksManager.css */
.row-container {
    padding: 20px;
    background-color: #F0F2F5;
}

.email-list-card, .task-list-card, .task-detail-card {
    overflow: auto;
    height: 90vh;
}

.list-item {
    cursor: pointer;
}

.date-picker, .buttons-container button {
    margin: 0 5px;
}

.form-container {
    padding: 20px;
}

.form-item {
    margin-bottom: 20px;
}
